canvas {
    border: 1px dotted #fff;
    max-width: 300px;
}

.chart-container {
    position: relative;
    margin: auto;
    height: 50px;
    width: 50px;
}

.pokeSprite {
    max-width: 100px;
    max-height: 100px;
}

.pokeName {
    text-transform: capitalize;

}

.pokedex, .chart-container, .pokeInfo, canvas {
    text-align: center;
    max-width: 350px;
    margin: auto;
}

.imgtitle {
    width: 50%;
}